{% extends 'base.html' %}
{% block title %}Projects | Kanban{% endblock %}

{% block content %}
<!-- TODO: -->

<main class="container">

    <header>
        <hgroup>
            <h1>My Tasks</h1>
            <p>Projects you belong to and tasks assigned to you.</p>
        </hgroup>
    </header>

    <!-- Project (Pico Table) -->
     <section aria-label="Projects">
        <h2>Projects</h2>

        {% if projects %}
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Summary</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><strong>{{ project.name }} </strong></td>
                        <td>{{ project.description|default:"-" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </figure>

        {% else %}
        <article>
            <p>No projects found.</p>
        </article>

        {% endif %}
     </section>

</main>

{% endblock %}
