{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <!-- STYLE/CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        {% block styles %}{% endblock %}
        <!-- ASYNC/DEFER SCRIPTS -->
        {% htmx_script %}
        {% block head_scripts %}{% endblock %}
        <!-- TITLE -->
        <title>{% block title %}Kanban{% endblock %}</title>
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <!-- MAIN CONTENT -->
        <main class="container" id="content">
            {% block content %}{% endblock %}
        </main>
        <!-- SCRIPTS -->
        {% block scripts %}{% endblock %}
    </body>
</html>
