{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <!-- STYLE/CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'base.css' %}"
        >
        {% block styles %}{% endblock %}
        <!-- ASYNC/DEFER SCRIPTS -->
        {% htmx_script %}
        {% block head_scripts %}{% endblock %}
        <!-- TITLE -->
        <title>{% block title %}Kanban{% endblock %}</title>
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        <header class="container">
            <!-- NAVBAR -->
            <nav>
                <ul>
                    <li id="brand">Kanban-Py</li>
                </ul>
                <ul>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'board:index' %}"
                           {% if request.resolver_match.url_name == 'index' %}aria-current="page"{% endif %}>
                            My Tasks
                        </a>
                    </li>
                    <li><a href="">Projects</a></li>
                    {% if request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'board:profile' %}">Profile</a></li>
                    <li><a href="{% url 'board:logout' %}">Logout</a></li>
                    {% else %}
                    <!-- TODO: replace with board:login view once created -->
                    <li><a href="{% url 'admin:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <!-- MAIN CONTENT -->
        <main class="container" id="content">
            {% block content %}{% endblock %}
        </main>
        <!-- SCRIPTS -->
        {% block scripts %}{% endblock %}
    </body>
</html>
